 .StripeElement {
    box-sizing: border-box;
  width: inherit;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #333;
}

  .button {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    /* float: left; */
    margin-left: 12px;
    margin-top: 28px;
}

.label {
    font-weight: 500;
    font-size: 20px;
    display: block;
    margin-bottom: 8px;
    color: #333;
}


.form-row {
    width: 70%;
    float: left;
}

.card-errors {
    height: 20px;
    padding: 4px 0;
    color: #fa755a;
}

.stripe-payment-formView{
  margin: auto;
  background-color: white;
  border-radius: 10px;
  width: 70%;
}

.invoice
{
  font-weight: 900;
  /* justify-content: center */
}

.invoice-row-view{
 display: flex;
 flex-wrap: wrap;
 margin-right:-15px;
 margin-left: -15px
 
}
.invoice-col-View{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%
}

.invoice-col-View-30{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%

}
.invoice-total{
  display: flex;
  width: 87%;
  justify-content: flex-end
}
.invoice-total-Amount{
display: flex;
  width: 13%;
  padding-right: 15px;
  justify-content: flex-end
}
.drop-reverse{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.invoiceImageMain{
  display: flex;
  justify-content: flex-end
}

.charity-invoice-heading {
  /* display: flex; */
  /* align-content: flex-start; */
  font-size: 16px;
  color: var(--app-4c4c6d);
  font-weight: 500;
  font-family: inter-bold;
}

.charity-invoice-div{
  display: flex;
  justify-content: flex-start;
}

.roundUpDescription-text{
  font-size: 13px;
  color: var(--app-4c4c6d);
  font-weight: 500;
  font-family: inter-medium;
  white-space: initial;
    word-wrap: break-word
}

.invoice-main-radio-charity {
  font-size: 13px;
  color: var(--app-4c4c6d);
  font-weight: 500;
  font-family: inter-medium;
}

.invoice-second-radio-charity {
  font-size: 11.5px;
  color: var(--app-4c4c6d);
  font-weight: 500;
  font-family: inter-medium;
}

.pdf-container-main-div{
  /* width: 70%; */
  display: flex;
  justify-content: flex-end;
  /* padding-right: 6.5vw; */
  /* margin-top: 7.5vh; */
}

.affiliate-detail-View-Invoice{
  display: flex;
  flex-direction: column;
}

.invoice-amount-border{
  border-top-style: solid;
   border-top-width: 1px;
   border-top-color: var(--app-4c4c6d);
}
.sr-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 980px;
  /* padding: 48px; */
  align-content: center;
  justify-content: center;
  height: auto;
  /* min-height: 100vh; */
  margin: 0 auto;
}
.sr-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: var(--form-width);
  min-width: 450px;
  align-self: center;
  padding: 50px 50px; 
  background: var(--body-color);
  border-radius: var(--radius);
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}

/* Inputs */
input,
.StripeElement {
  height: 40px;
  padding: 10px 12px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 100%;
  outline: none;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: var(--error-color);
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

input::placeholder {
  color: #aab7c4;
}

.sr-result {
  height: 44px;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  color: var(--font-color);
  overflow: auto;
}
.sr-result code {
  overflow: scroll;
}
.sr-result.expand {
  height: 350px;
}

.sr-combo-inputs-row {
  display: -ms-flexbox;
  display: flex;
}
.sr-combo-inputs-row {
  width: 100%;
  margin-top: 20px;
}
.sr-combo-inputs-row:first-child {
  margin-top: 0;
}
.sr-combo-inputs-row {
  margin-top: 20px;
}
.sr-combo-inputs-row .col:not(:last-child) {
  margin-right: 20px;
}
.sr-combo-inputs-row .col {
  width: 100%;
}
@media (max-width: 767px) {
  .invoiceImage{
    display: flex;
    justify-content: center
  }
  .invoiceImageMain{
    justify-content: center
  }
  .invoice-total{
    display: flex;
  width: 70%;
  justify-content: flex-end
  }
  .drop-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-right: -15px;
    margin-left: -15px;
  }
  .invoice-total-Amount{
    display: flex;
      width: 25%;
      justify-content: center
    }
.invoice-col-View-30{
  max-width: 30%;
  width: 30%;
  align-self: center;
}
.invoice{
  justify-content: center
}
.invoice-description{
  display: none
}
.invoice-col-View{
  position: relative;
  width: 70%;
  }

.pdf-container-main-div{
  padding-right: 1vw;
}
}