@import "../themes/colorVariables.css";
.shop-single-prd-main-view {
    box-shadow: 0px 8px 16px 0 var(--dark-6);
    background-color: var(--app-white);
    border-radius: 10px;
    width: 250px;
    height:310px;
}

.product-menu-option-view {
    display: flex;
    justify-content: flex-end;
    height: 32px;
}

.product-img-view {
    display: flex;
    justify-content: center;
    padding: 0px 47.5px 0px 47.5px;
}

.product-img{
    height: 186px;
    width:  100%;
    object-fit: contain;
}

.product-text-view {
    display: flex;
    padding: 24px;
    justify-content: flex-start;
    flex-direction: column;
}

.product-name {
    font-size: 14px;
    color: var(--app-1b1b34);
    font-weight: 500;
    font-family: "inter-medium";
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
}

.product-price-text-style {
    font-size: 14px;
    color: var(--app-color);
    font-weight: 500;
    font-family: "inter-medium";
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
}

.product-grey-detail-text {
    font-size: 13px;
    color: var(--app-9b9bad);
    font-weight: 600;
    font-family: "inter-semi-bold";
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
}

.product-type-grey-text {
    font-size: 13px;
    color: var(--app-77778f);
    font-weight: 500;
    font-family: "inter-medium";
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
}


.shop-product-content-div>div {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.shop-single-prd-main-view {
    margin: 0;
}

.shop-product-content-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-gap: 12px; */
    column-gap: 40px;
    row-gap: 20px;
}

@media (max-width: 1199px) {
    .shop-product-content-div>div {
        width: auto;
    }
}

@media (max-width: 767px) {
    .shop-single-prd-main-view {
        margin: 15px 0px 15px 0px;
    }
    .shop-product-content-div>div {
        width: 100%;
        margin-right: 0px;
    }
    .shop-product-content-div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /* grid-gap: 12px; */
        column-gap: 10px;
        row-gap: 5px;
    }
}

@media (max-width: 480px) {
    .shop-product-content-div>div {
        width: 100%;
        margin-right: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}