@import "../themes/colorVariables.css";
.dropzoneId {
    display: flex;
    width: 100px;
    height: 48px;
    justify-content: center !important;
}

.dragableId {
    display: flex;
    width: 100px;
    height: 48px;
    /* background-color: red; */
}

.draws-swappable-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}