.forgot-password-link-text {
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 3;
  color: var(--app-color);
  cursor: pointer;
}

.forgot-password-success-button-div {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
.radioBtn{
  box-shadow: 0 0px 0px ;
}
.radioBtn:focus{
  box-shadow: 0 0px 0px ;
}

.forgot-password-radio{
  justify-content: space-around;
  margin: 20px 0px;
}
