@import "../../themes/colorVariables.css";
.live-score-player-profile-layout.ant-layout {
    background-color: var(--app-white);
}

.live-score-player-profile-layout .ant-layout-footer {
    background-color: var(--app-white);
}

.live-score-player-profile-content {
    padding: 0 3%;
}

.live-score-heading-text {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: var(--app-1b1b34);
    font-weight: 500;
    font-family: inter-medium;
}

.live-score-heading-text-view {
    /* display: flex; */
    padding-top: 3%;
}

.live-score-profile-img-view {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.live-score-user-image {
    border-radius: 40px;
}

.live-score-title-text {
    display: flex;
    font-size: 15px;
    color: var(--app-1b1b34);
    font-weight: 600;
    font-family: inter-bold;
    padding-left: 10px;
}

.live-score-desc-text {
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 13px;
    color: var(--app-4c4c6d);
    font-weight: 500;
    font-family: inter-medium;
    padding-top: 10px;
}

.live-score-title-icon-view {
    display: flex;
    flex-direction: row;
}

.live-score-icon-view {
    display: flex;
    align-items: center;
}

.live-score-side-desc-view {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid var(--app-e1e1f5);
}

.primary-reg-live-score {
    font-weight: 600;
    font-family: inter-semi-bold;
    font-size: 13px;
    /* width: 123px; */
    color: var(--app-f7fafc);
    height: 32.5px;
    border-radius: 7px;
    background-image: var(--app-gradient-right);
    justify-content: center;
    display: flex;
    background-color: var(--app-ff6c4f);
    border-color: var(--app-ff6c4f);
    margin-Top: 10px
}

.live-score-edit {
    background-color: var(--app-e0e1e3);
    border-color: var(--app-e0e1e3);
    color: var(--app-4c4c6d);
    height: 50px;
    font-weight: 500;
    font-family: inter-medium;
    font-size: 15px;
    width: 89px;
    height: 48px;
    border-radius: 8px;
    margin-right: 20px;
}

.live-score-profile-user-name {
    display: flex;
    /* align-content: center;
    justify-content: center;
    text-align: center; */
    font-size: 22px;
    color: var(--app-1b1b34);
    font-weight: 500;
    font-family: inter-medium;
    margin-top: 10px;
}

.match-score-detail {
    border-bottom-style: "Solid";
    border-bottom: 0.5px solid var(--app-e1e1f5);
    padding: 3px 0 10px 0;
}

.match-details-rl-padding {
    padding-left: 1.5%;
    padding-right: 1.5%
}

.export-image {
    height: 12px;
    width: 12px;
    margin-right: 5px;
    /* margin-bottom: 3px */
}

.banner-image {
    width: 400px;
    margin-right: 5px;
    /* height: 300px; */
}

.profile-image-view {
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-right: 50px */
}

.side-bar-profile-data {
    font-size: 15px
}

.bulk-match-heading {
    font-weight: bold;
    font-size: 17px;
    display: flex;
    margin-bottom: 10px;
}

.livescore-editor-news {
    border-color: var(--app-color);
    border-right-width: 1px !important;
}

.rdw-editor-main {
    min-height: 120px;
    max-height: 240px;
}

.livescore-editor-news:hover {
    border-color: var(--app-color);
    border-right-width: 1px !important;
    -webkit-box-shadow: 0 0 0 1px var(--app-color);
    box-shadow: 0 0 0 1px var(--app-color);
}

.livescore-editor-news:focus-within {
    border-color: var(--app-color);
    border-right-width: 1px !important;
    -webkit-box-shadow: 0 0 0 1.5px var(--app-color);
    box-shadow: 0 0 0 1.5px var(--app-color);
    border-radius: 2px;
}
.ant-select-auto-complete.ant-select .ant-input {
    height: 56px;
    line-height: 1.5;
    background: transparent;
    border-width: 1px;
}
.ant-select-auto-complete.ant-select .ant-input:hover{
    border-color: var(--app-color);
    box-shadow: 0 0 0 0px var(--app-color);
}
.ant-select-auto-complete.ant-select .ant-input:focus, .ant-select-auto-complete.ant-select .ant-input:hover {
    border-color: var(--app-color);
    border-right-width: 1px !important;
}
.slct-in-add-manager-livescore .ant-form-item-control{
    line-height: 15px; 
}

.table-live-score-table-fixture-style{
    /* background-color: aqua; */
    height: 55px;
    display: flex;
    align-self: center;
    align-items: center;
   
}
.table-live-score-table-fixture-style-main{
    height: 110px;
    /* background-color: red */
}


.livescore-seasonfixture-table .ant-table-thead>tr>th {
    font-weight: 500;
    font-family: inter-medium;
    font-size: 13px;
    overflow-wrap: break-word;
    color: var(--app-9b9bad);
    padding-left: 21px;
    height: 48px;
    background-color: var(--app-white);
  }
  
  .livescore-seasonfixture-table .ant-table-tbody>tr>td {
    overflow-wrap: break-word;
    color: var(--app-4c4c6d);
    font-size: 15px;
    font-family: inter;
    height: 64px;
    background-color: var(--app-white);
    padding:0px !important;
  }
  
  .livescore-seasonfixture-table .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .livescore-seasonfixture-table .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .livescore-seasonfixture-table .ant-table-thead>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .livescore-seasonfixture-table .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
    background: transparent;
  }

  .inner-table-row-heading-text{
    font-weight: 500;
    font-family: inter-medium;
    font-size: 18px;
    overflow-wrap: break-word;
    color: var(--app-color);
  }




@media(min-width: 768px) and (max-width: 1024px) {
    .live-score-edit-match-buttons {
        display: flex;
        width:   10px;
        /* background-color:seagreen; */
        justify-content: space-between;
        align-items: center
    }
  }

@media(max-width:767px) {
    .live-score-edit {
        background-color: var(--app-e0e1e3);
        border-color: var(--app-e0e1e3);
        color: var(--app-4c4c6d);
        height: 50px;
        font-weight: 500;
        font-family: inter-medium;
        font-size: 15px;
        width: 89px;
        height: 48px;
        border-radius: 8px;
        margin-right: 0px;
    }
    .live-score-heading-text {
        font-size: 18px;
        padding-left: 10px;
    }
    .live-score-edit-match-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .live-form-view-button-header {
        margin-bottom: 30px;
    }
    .live-form-view-button-container {
        /* margin-bottom:30px  */
        padding-right: 0%
    }
    .banner-image {
        width: 200px;
        margin-right: 5px;
        /* height: 300px; */
    }
}