/* antd input overrided styles */

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: #ff8237;
    border-right-width: 1px !important;
}

.ant-input:hover {
    border-color: #ff8237;
}

.ant-input:focus {
    border-color: #ff8237;
    -webkit-box-shadow: 0 0 0 1px #ff8237;
    box-shadow: 0 0 0 1px #ff8237;
}

.ant-input:hover {
    border-color: #ff8237;
}

.ant-input:focus {
    border-color: #ff8237;
    -webkit-box-shadow: 0 0 0 1px #ff8237;
    box-shadow: 0 0 0 1px #ff8237;
}

.ant-input::-webkit-input-placeholder {
    font-size: 13px;
    /* color: #4c4c6d; */
    font-weight: 500;
    font-family: inter-medium;
}

/* antd Select overrided styles */

.ant-select-selection {
    height: 56px;
    display: flex;
    align-items: center;
}

.ant-select {
    color: #1b1b34;
    font-size: 15px;
    font-family: 'inter';
    /* overflow: hidden; */
    white-space: pre;
    text-overflow: ellipsis;
    -webkit-appearance: none;
}

.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: #ff8237;
    border-radius: 5px;
    /* background-color: yellowgreen; */
    -webkit-box-shadow: 0 0 0 1px #ff8237;
    box-shadow: 0 0 0 1px #ff8237;
    border-width: 1px;
}

.ant-select-selection:hover {
    border-color: #ff8237;
    -webkit-box-shadow: 0 0 0 0px #ff8237;
    box-shadow: 0 0 0 0px #ff8237;
}

.ant-select-arrow {
    right: 19.5px;
}

.ant-select-arrow svg {
    display: inline-block;
    height: 14px;
    width: 20px;
}

.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    -webkit-box-shadow: 0 0 0 1px #ff8237;
    box-shadow: 0 0 0 1px #ff8237;
}

/* antd checkbox overrided styles */

.ant-checkbox-group-item {
    /* float: left; */
    display: flex;
    margin-right: 0;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    font-size: 15px;
    color: #1b1b34;
    font-family: 'inter';
    font-weight: normal;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: #ff8237;
}

.ant-checkbox-checked::after {
    border: 1px solid #ff8237;
}

.ant-checkbox-inner {
    width: 24px;
    height: 24px;
}

.ant-checkbox-inner::after {
    width: 7.71428571px;
    height: 12.14285714px;
}

/* antd buttons overrided styles */

.ant-btn-save-draft-text {
    background-color: #ffffff;
    border-color: white;
    color: #ff8237;
    height: 50px;
    font-weight: 600;
    font-size: 15px;
    width: 135px;
    height: 48px;
    border-radius: 8px;
    font-family: inter-semi-bold;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
}

.ant-btn:hover, .ant-btn:focus {
    color: #fff;
    background-color: #ff8237;
    border-color: #ff8237;
}

.ant-btn-cancel-button {
    background-color: #E0E1E3;
    border-color: #E0E1E3;
    color: #4c4c6d;
    height: 50px;
    font-weight: 500;
    font-family: inter-medium;
    font-size: 15px;
    width: 89px;
    height: 48px;
    border-radius: 8px;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #ff8237;
    border-color: #ff8237;
}

/* antd tree overrided styles */

.ant-tree li span.ant-tree-checkbox {
    height: 24px;
}

.ant-tree li .ant-tree-node-content-wrapper {
    color: #1b1b34;
    line-height: 32px;
    height: 30px;
}

.ant-tree-checkbox-inner {
    width: 24px;
    height: 24px;
}

.ant-tree-checkbox-inner::after {
    width: 7.71428571px;
    height: 12.14285714px;
}

.ant-tree-checkbox-checked::after {
    border: 1px solid #ff8237;
    width: 24px;
    height: 24px;
}

.ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner, .ant-tree-checkbox:hover .ant-tree-checkbox-inner, .ant-tree-checkbox-input:focus+.ant-tree-checkbox-inner {
    border-color: #ff8237;
}

.ant-tree li {
    padding-top: 12px;
}

/* antd calender overrided styles */

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #ff8237;
}

.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #ff8237;
    -webkit-box-shadow: 0 0 0 1px #ff8237;
    box-shadow: 0 0 0 1px #ff8237;
    border-width: 5px;
}

.ant-input-lg {
    height: 56px;
}

/*antd time picker styles*/

.ant-time-picker-input:hover {
    border-color: #ff8237;
    border-right-width: 1px !important;
}

.ant-time-picker-input:focus {
    border-color: #ff8237;
    border-right-width: 1.5px !important;
    -webkit-box-shadow: 0 0 0 1px #ff8237;
    box-shadow: 0 0 0 1px #ff8237;
    border-width: 1.5px;
}

.ant-time-picker-input::-webkit-input-placeholder {
    font-size: 13px;
    /* color: #4c4c6d; */
    font-weight: 500;
    font-family: inter-medium;
}

.ant-time-picker-input {
    height: 44px;
}

/* antd table overrided styles */

.fees-table .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .fees-table .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .fees-table .ant-table-thead>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .fees-table .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
    background: #f1c2a2;
}

/* antd radio overrided styles */

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus+.ant-radio-inner {
    border-color: #ff8237;
}

.ant-radio-inner::after {
    background-color: #ff8237;
}

.ant-radio-checked::after {
    border: 1px solid #ff8237;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #ffa033;
}

textarea.ant-input {
    min-height: 128px !important;
    color: #1b1b34;
    font-family: inter;
    font-size: 15px;
}

.ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu:hover, .ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-submenu-selected {
        color: #ff8237;
        border-bottom: 2px solid #ff8237;
}

.ant-menu {
        font-size: 14px;
        color: #4c4c6d;
        font-family: inter;
        font-weight: normal;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
        color: #ff8237;
}

.ant-menu-item-selected {
        color: #ff8237;
}

.ant-menu-horizontal>.ant-menu-item>a:hover {
        color: #ff8237;
}

.ant-menu-horizontal>.ant-menu-item-selected>a {
        color: #ff8237;
}

/***************/

.ant-menu-item>a:hover {
        color: #ff8237;
}

.ant-menu-item-selected>a, .ant-menu-item-selected>a:hover {
        color: #ff8237;
}

.search-wrap input::placeholder {
        font-weight: 500;
        font-family: inter-medium;
        font-size: 13px !important;
        color: rgba(27, 27, 52, 0.4) !important;
}

.search-wrap input {
        font-family: inter;
        color: rgba(27, 27, 52, 0.4) !important;
        font-size: 13px;
        font-weight: 500;
}

.ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical-left .ant-menu-submenu-selected, .ant-menu-vertical-right .ant-menu-submenu-selected {
        color: #ff8237;
}

.ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
        background: -webkit-gradient(linear, left top, right top, from(#ff8237), to(#ff8237));
        background: linear-gradient(to right, #ff8237, #ff8237);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: transparent;
}

.ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical>.ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left>.ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right>.ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow::after {
        margin-left: 10px;
}