/* Styling for fees table inside the forms*/

.fees-table .ant-table-tbody>tr>td {
  border-bottom: 0px;
  padding: 6px 6px;
  overflow-wrap: break-word;
}

.fees-table .ant-table-thead>tr>th {
  border-bottom: 0px;
  font-weight: 500;
  font-family: inter-medium;
  font-size: 13px;
  padding: 7px 7px;
  overflow-wrap: break-word;
}

/* Styling for data list table inside the list products etc*/

.product-reg-table .ant-table-thead>tr>th {
  /* border-bottom: 0px; */
  font-weight: 500;
  font-family: inter-medium;
  font-size: 13px;
  /* padding: 7px 7px; */
  overflow-wrap: break-word;
  color: #9b9bad;
  padding-left: 21px;
  height: 48px;
}

.product-reg-table .ant-table-tbody>tr>td {
  /* border-bottom: 10px; */
  /* padding: 20px 15px; */
  overflow-wrap: break-word;
  color: #4c4c6d;
  font-size: 15px;
  font-family: inter;
  /* background-color: red; */
  padding-left: 24px;
  padding-top: 26px;
  height: 64px;
}

/*on Hover remove on link click */

.text-decoration-none {
  text-decoration: none;
}

/*Input with heading component styling */

.input {
  height: 56px;
  color: #1b1b34;
}

.input-heading {
  display: flex;
  align-content: flex-start;
  padding-top: 20px;
  padding-bottom: 11px;
  font-size: 13px;
  color: #4c4c6d;
  font-weight: 500;
  font-family: inter-medium;
}