@font-face {
    font-family: 'inter';
    font-style: normal;
    src: url('../fonts/Inter-Regular.ttf') format('woff2');
  }

  @font-face {
    font-family: 'inter-bold';
    font-style: bold;
    src: url('../fonts/Inter-Bold.ttf') format('woff2');
  }

  @font-face{
    font-family: 'inter-medium';
    font-style: normal;
    src:url('../fonts/Inter-Medium.ttf') format('woff2')
  }

  @font-face{
    font-family: 'inter-semi-bold';
    font-style: normal;
    src:url('../fonts/Inter-SemiBold.ttf') format('woff2')
  }